/* 공통 스타일 */
body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

/* 헤더 스타일 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    height: 150px;
}

/* 로고 스타일 */
.header img {
    height: 60px;
    width: auto;
}

.sv {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: black;
}

.sv a {
    color: inherit;
    text-decoration: none;
}

.sv:hover {
    background-color: #3498db;
}

.sv:hover a {
    color: white;
}

/* 회원가입 컨테이너 스타일 */
.container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1200px;
    margin: 120px auto 0;
    box-sizing: border-box;
}

.container img {
    width: 50%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin-right: 50px;
}

.form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 28px;
    text-align: center;
    color: #424242;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.gender-options {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.gender-options input[type="radio"] {
    transform: scale(0.8); /* 라디오 버튼 크기 축소 */
    margin-right: 5px; /* 라디오 버튼과 라벨 사이의 간격 추가 */
}

.gender-options label {
    margin-right: 15px; /* 라벨 사이의 간격을 넉넉하게 설정 */
}

.btn {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #2E9AFE;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-sizing: border-box;
}

.btn:hover {
    background-color: #1c6fbd;
}
