.divider {
    border: 0;
    height: 1px;
    background-color: #ccc; /* 연한 회색 가로선 */
    margin: 0; /* 위아래로 여백 추가 */
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}

.container {
   display: flex;
   margin-top: 20px;
   width: 100%;
}

.sidebar {
   width: 20%;
   padding: 10px;
   display: flex;
   flex-direction: column;
}

.sidebar .plant {
   background-color: white;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 5px;
	border: 1px solid #ccc;
}

.sidebar .plant p {
   margin: 5px 0;
}

.sidebar .plant button {
   background-color: gray;
   color: white;
   border: none;
   padding: 5px;
   cursor: pointer;
   border-radius: 5px;
   width: 50px;
   float: right;
}

.sidebar .add-plant {
   color: black;
   border: 1px dashed black;
   padding: 50px;
   cursor: pointer;
   border-radius: 5px;
   margin-top: 10px;
   font-size: 20px;
}

.main-content {
   width: 80%;
   padding: 20px;
   background-color: white;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plant-info {
   display: flex;
   flex-direction: column;
}

.plant-info h3 {
   margin: 0 0 20px 0;
}

.plant-info .info {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.plant-info .info .item {
   background-color: #e6f4fa;
   padding: 20px;
   border-radius: 5px;
   text-align: center;
   width: 48%;
}

i {
   font-style: normal;
   font-size: 25px;
}

/* 탭 및 테이블 스타일링 */
.tabs {
    margin-bottom: 1rem;
}

.tab-button {
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
}

.tab-button.active {
    background: #007bff;
    color: #fff;
}

.tab-content {
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    border: 1px solid #dee2e6;
    padding: 0.75rem;
    text-align: center;
}

th {
    background-color: #f8f9fa;
}

thead th {
    background-color: #007bff;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9ecef;
}

