.divider {
    border: 0;
    height: 1px;
    background-color: #ccc; /* 연한 회색 가로선 */
    margin: 5px 0; /* 위아래로 여백 추가 */
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}

.container {
   display: flex;
   margin-top: 20px;
   width: 100%;
}

.sidebar {
   width: 20%;
   padding: 10px;
   display: flex;
   flex-direction: column;
}

.sidebar .plant {
   background-color: white;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #ccc;
}

.sidebar .plant p {
   margin: 5px 0;
}

.sidebar .plant button {
   background-color: gray;
   color: white;
   border: none;
   padding: 5px;
   cursor: pointer;
   border-radius: 5px;
   width: 50px;
   float: right;
}

.sidebar .add-plant {
   color: black;
   border: 1px dashed black;
   padding: 50px;
   cursor: pointer;
   border-radius: 5px;
   margin-top: 10px;
   font-size: 20px;
}

.main-content {
   width: 80%;
   padding: 20px;
   background-color: white;
   border: 1px solid #dee2e6;
}

.plant-info {
   display: flex;
   flex-direction: column;
}

.plant-info h3 {
   margin: 0 0 20px 0;
}

.plant-info .info {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.plant-info .info .item {
   background-color: #e6f4fa;
   padding: 20px;
   margin: 1rem;
   width: 50%;
   border-radius: 10px;
   text-align: center;
   box-shadow: 4px 5px 2px #9ecde2; /* 그림자 효과 추가 */
}


i {
   font-size: 30px;
<<<<<<< HEAD
   font-style: normal;
=======
>>>>>>> 289d1d548e8de7449252f6c54916f108d05ccf20
}

/* 탭 및 테이블 스타일링 */
.tabs {
    margin-top: 2rem;
    margin-left: 1rem;
    
}

.tab-button {
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;

}

.tab-button.active {
    background: #007bff;
    color: #fff;
}

.tab-content {
    padding: 1rem;
}

#excelDownload {
<<<<<<< HEAD
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
    margin-right: 1rem;
=======
    background-color: transparent; /* 배경색 투명 */
    border: none;
    cursor: pointer;
    float: right;
>>>>>>> 289d1d548e8de7449252f6c54916f108d05ccf20
}

.tab-content {
    display: none; /* 기본적으로 모든 탭 콘텐츠 숨김 */
}

.tab-content.active {
    display: block; /* 활성화된 탭 콘텐츠만 표시 */
}


table {
    width: 100%;
    border-collapse: collapse;

}

th, td {
    border: 1px solid #d3d3d3;
    padding: 0.75rem;
    text-align: center;
}

.custom-background {
    background-color: #d4e4ff;
}

th {
    background-color: #eaedf2;
}

thead th {
    background-color: #eaedf2;
}

tbody tr:hover {
    background-color: #e9ecef;
}
